{
    "singleQuote": true,
    "semi": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "vueIndentScriptAndStyle": true,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "strict"
}
